//font
@mixin font($f-color: $black, $f-size: $font-size-base) {
  color: $f-color;
  font-size: $f-size;
}

//paddings & margins
@mixin padding-vertical($pt, $pb) {
  padding-top: $pt;
  padding-bottom: $pb;
}
@mixin padding-horizontal($pl, $pr) {
  padding-left: $pl;
  padding-right: $pr;
}
@mixin margin-vertical($mt, $mb) {
  margin-top: $mt;
  margin-bottom: $mb;
}
@mixin margin-horizontal($ml, $mr) {
  margin-left: $ml;
  margin-right: $mr;
}

//vertical centering
@mixin vertical-center($align: middle) {
  display: inline-block;
  vertical-align: $align;
}

//focus, hover & active states
@mixin hover-state {
  &:hover {
    @content;
  }
}
@mixin focus-state {
  &:focus {
    @content;
  }
}
@mixin hover-focus-active-state {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

//absolute location for element
@mixin chooseCoords($coords) {
  $topVal: nth($coords, 1);
  $rightVal: nth($coords, 2);
  $bottomVal: nth($coords, 3);
  $leftVal: nth($coords, 4);
  @if type-of($topVal) == number {
    top: $topVal;
  }
  @if type-of($rightVal) == number {
    right: $rightVal;
  }
  @if type-of($bottomVal) == number {
    bottom: $bottomVal;
  }
  @if type-of($leftVal) == number {
    left: $leftVal;
  }
}

@mixin absoluteLocation($coords) {
  position: absolute;
  @include chooseCoords($coords);
}

//responsive image
@mixin responsive-image($height) {
  text-align: center;
  display: block;
  height: $height;
  line-height: $height;
  img {
    max-height: $height;
    max-width: 100%;
    height: auto;
    @include vertical-center;
  }
}
